
<h2>Welcome to <%= @user.name%>'s homepage! </h2>



<% if !@user.reviewed_places.present?  %>
<strong>Sorry you don't have any reviews yet!</strong>
   <%else%>
   <h3>Here are the places reviewed by <%=@user.name%>:</h3>
<ul>
  <% @user.reviewed_places.each do |r|%>
  <li> <%= link_to r.name, place_path(r)%> </li>
  <% end %>
</ul>
<%end%>



