<!DOCTYPE html>
<html>
<head>
<h2>Welcome to <%= @user.name%>'s homepage! </h2>
</head>
<body>
<% @user.places.each do |p| %>
   <br> <%= link_to p.name , place_path(p) %>
  <br>
 <% end %>
</body>
</html>


