<head>
<h1> Create a new review below</h1>
</head>
<%= render 'form'%>
<body>
<%= yield %>
</body>
<style>

 h1 {
    color: black;
    margin-left: 250px; 

    text-decoration: underline;
</style>

