<head>
<style>
<h1>Edit your Place</h1>
    </style>
  </head>
  <body>
<%= render 'form'%>
<%= yield %>
</body>
<style>

h1 {
    color: black;
    margin-left: 250px; 

    text-decoration: underline;
</style>

