<!DOCTYPE html>
<html>
<head>
<style>
<h1>Create a New Place:</h1> 
    </style>
  </head>
  <body>
  <br><br>
  <%= render partial: 'form'%>
<%= yield %>
</body>

<style>

h1 {
    color: black;
    margin-left: 250px; 

    text-decoration: underline;
</style>
</html>

